<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_sedar_employee_document_control"
              name="Document Control"
              parent="hr_recruitment.menu_hr_recruitment_root"
              action="action_sedar_employee_document_control"
              sequence="61"/>
</odoo>
